


<div class="container">

    <form (submit)="getWeather()" class="mb-4">
        <div class="form-group">
          <label for="city">Şehir Seçin:</label>
          <input type="text" id="city" [(ngModel)]="city" name="city" class="form-control" required>
        </div>
    
        <div class="form-group mt-2">
          <label for="unit">Sıcaklık Birimi:</label>
          <select id="unit" [(ngModel)]="unit" name="unit" class="form-control">
            <option value="metric">Celsius</option>
            <option value="imperial">Fahrenheit</option>
          </select>
        </div>
    
        <button type="submit" class="btn btn-primary mt-3">Hava Durumunu Getir</button>
      </form>
      <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
    
        <div *ngIf="hourlyForecast.length > 0">
            <h2>{{ city }} için 24 Saatlik Hava Durumu:</h2>
            <div class="row">
              <div class="col-md-2 mb-3" *ngFor="let hour of hourlyForecast.slice(0, 24)">
                <div class="card">
                  <div class="card-body text-center">
                    <h5 class="card-title">{{ hour.dt_txt | date:'shortTime' }}</h5>
                    <p class="card-text"><strong>Sıcaklık:</strong> {{ hour.main.temp }}° {{ unit === 'metric' ? 'C' : 'F' }}</p>
                    <p class="card-text"><strong>Hava:</strong> {{ hour.weather[0].description }}</p>
                    <img [src]="getIconUrl(hour.weather[0].icon)" alt="icon" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
<div class="col">
    <div *ngIf="weatherData">
        <p>{{ city }} için 5 Günlük Hava Durumu:</p>
        <div class="row">
          <div class="col-md-4 mb-3" *ngFor="let day of getFiveDayForecast()">
            <div class="card">
              <div class="card-body text-center">
                <h5 class="card-title">{{ day.date | date:'fullDate' }}</h5>
                <p class="card-text"><strong>Sıcaklık:</strong> {{ day.temp }}° {{ unit === 'metric' ? 'C' : 'F' }}</p>
                <p class="card-text"><strong>Hava:</strong> {{ day.weather }}</p>
                <img [src]="getIconUrl(day.icon)" alt="icon" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
</div>


</div>

 
   


 